@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
  /* text-transform: uppercase; */
  font-family: "Kanit", serif;
  font-weight: 200;
  font-style: normal;
}
.hero
{
  border-radius: 20px;
  max-width: 70%;
}
.name
{
  text-transform: uppercase;
}
.navbar
{
  cursor: pointer;
  transition: 0.3s;
}
.navbar:hover
{
  color: brown;
}
.resume
{
  background-color: brown;
  transition: .3s;
}
.resume:hover{
  color: #111;
  background-color: #e2e8f0;
}
.skill-btn{
  background-color: brown;
}
.yes{
  color: brown;
}
.object-cover{
  padding-top: 12px;
}